<div class="row">
    <div class="col-xs-12">
        {% block actionbuttons %}
            {{ item.title }}
            <div class="btn btn-danger">Buy</div>
            <div class="btn btn-warning">Add to card</div>
        {% endblock actionbuttons %}
    </div> 
</div>
                    